In [1]:
%defaultDatasource jdbc:h2:mem:db

In [20]:
DROP TABLE IF EXISTS DescEKGCases;

CREATE TABLE DescEKGCases (
  user INT NOT NULL,
  case VARCHAR(7),
  stage VARCHAR(22),
  answer VARCHAR(200),
  points DECIMAL(3,1),
  confidence INT,
  time DECIMAL(8,2),
  PRIMARY KEY(user, case, stage)
) AS SELECT *
  FROM CSVREAD('../../data/logx/Combined061.csv');

In [21]:
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined062.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined063.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined064.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined065.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined066.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined067.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined068.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined069.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined070.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined071.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined072.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined073.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined075.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined076.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined077.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined078.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined079.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined080.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined081.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined082.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined083.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined084.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined085.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined086.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined088.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined090.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined091.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined092.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined093.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined094.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined095.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined096.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined097.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined098.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined099.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined100.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined101.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined102.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined103.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined104.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined105.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined106.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined107.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined108.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined109.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined110.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined111.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined112.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined113.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined115.csv');
INSERT INTO DescEKGCases SELECT * FROM CSVREAD('../../data/logx/Combined116.csv');

In [22]:
SELECT * FROM DescEKGCases;

In [23]:
SELECT DISTINCT User FROM DescEKGCases;

In [15]:
CALL CSVWRITE('../../data/logx/All.csv', 'SELECT * FROM DescEKGCases');

1168

In [25]:
DROP TABLE IF EXISTS DescEKGCases;

CREATE TABLE DescEKGCases (
  user INT NOT NULL,
  casen VARCHAR(7),
  stage VARCHAR(22),
  answer VARCHAR(200),
  points DECIMAL(3,1),
  confidence INT,
  time DECIMAL(8,2),
  PRIMARY KEY(user, casen, stage)
) AS SELECT *
  FROM CSVREAD('../../data/logx/All.csv');

In [26]:
SELECT * FROM DescEKGCases;

In [27]:
ALTER TABLE DescEKGCases
ADD ctype varchar(2);

In [30]:
UPDATE DescEKGCases
SET ctype = 'EF'
WHERE user >= 86;

In [31]:
UPDATE DescEKGCases
SET ctype = 'DF'
WHERE user < 86;

In [32]:
SELECT * FROM DescEKGCases;

In [33]:
CALL CSVWRITE('../../data/logx/AllT.csv', 'SELECT * FROM DescEKGCases');

1168