# TÁXI
## SQL Básico

Baseado no exemplo criado por prof. Geovane Cayres Magalhães http://www.ic.unicamp.br/~geovane/mo410-091/caso.html

Ativando uma conexão de banco de dados em memória usando o SGBD H2:

In [1]:
%defaultDatasource jdbc:h2:mem:db

## Conjunto de tabelas para consultas básicas

In [2]:
DROP TABLE IF EXISTS Taxi;
DROP TABLE IF EXISTS Cliente;
DROP TABLE IF EXISTS Corrida;

In [3]:
CREATE TABLE Taxi (
  Placa VARCHAR(7) NOT NULL,
  Marca VARCHAR(30) NOT NULL,
  Modelo VARCHAR(30) NOT NULL,
  AnoFab INTEGER,
  Licenca VARCHAR(9),
  PRIMARY KEY(Placa)
);

CREATE TABLE Cliente (
  CliId VARCHAR(4) NOT NULL,
  Nome VARCHAR(80) NOT NULL,
  CPF VARCHAR(14) NOT NULL,
  PRIMARY KEY(CliId)
);

CREATE TABLE Corrida (
  CliId VARCHAR(4) NOT NULL,
  Placa VARCHAR(7) NOT NULL,
  DataPedido DATE NOT NULL,
  PRIMARY KEY(CliId, Placa, DataPedido),
  FOREIGN KEY(CliId)
    REFERENCES Cliente(CliId)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(Placa)
    REFERENCES Taxi(Placa)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
);

In [4]:
INSERT INTO Cliente VALUES ('1532', 'Asdrúbal', '448.754.253-65');
INSERT INTO Cliente VALUES ('1755', 'Doriana', '567.387.387-44');
INSERT INTO Cliente VALUES ('1780', 'Quincas', '546.373.762-02');
INSERT INTO Cliente VALUES ('1888', 'Melissa', '123.456.789-10');

INSERT INTO Taxi VALUES ('DAE6534', 'Ford', 'Fiesta', 1999, 'MN572345');
INSERT INTO Taxi VALUES ('DKL4598', 'Wolkswagen', 'Gol', 2001, 'AU876543');
INSERT INTO Taxi VALUES ('DKL7878', 'Ford', 'Fiesta', 2001, 'OP102938');
INSERT INTO Taxi VALUES ('JDM8776', 'Wolkswagen', 'Santana', 2002, 'QM365923');
INSERT INTO Taxi VALUES ('JJM3692', 'Chevrolet', 'Corsa', 1999, 'UU335577');

INSERT INTO Corrida VALUES ('1755', 'DAE6534', '2003-02-15');
INSERT INTO Corrida VALUES ('1780', 'JDM8776', '2003-02-18');
INSERT INTO Corrida VALUES ('1755', 'DKL7878', '2003-02-16');
INSERT INTO Corrida VALUES ('1780', 'DKL4598', '2003-02-17');
INSERT INTO Corrida VALUES ('1532', 'DKL4598', '2003-02-18');
INSERT INTO Corrida VALUES ('1780', 'DAE6534', '2003-02-16');
INSERT INTO Corrida VALUES ('1755', 'DAE6534', '2003-02-18');
INSERT INTO Corrida VALUES ('1532', 'DKL4598', '2003-02-20');

# Bloco I - SELECT Básico (com JOIN implícito) e Agrupamento

# SELECT Básico

### Todos os Táxis com todos os atributos

### Marca e Modelo dos Taxis disponíveis

### Taxis fabricados depois do ano 2000

### Placas que comecem com DK

### Placas com '7' na penultima posicao

# Produto Cartesiano

### Produto Cartesiano entre Clientes e Corridas

# JOIN Implícito

### Cientes e as respectivas corridas - Join Implícito

### Modelo de taxi para cada corrida

### Modelos de Táxi por Cliente (estágio 1)

### Modelos de Táxi por Cliente (estágio 2)

## ORDER BY

### Nome dos clientes ordenado alfabeticamente

### Modelos de taxi e os clientes que os tomaram

Ordena por Modelo, mas não por Cliente:

Ordena por Modelo e, para cada Modelo, por Cliente:

### Cliente e os modelos de taxi tomados
Ordena por Cliente, mas não por Modelo:

Ordena por Cliente e, para cada Cliente, por Modelo

# GROUP BY

### Modelos de Táxi cadastrados

### Total de Táxis por Modelo

Modelos de Táxi cadastrados e quantos táxis há em cada modelo:

## Agregando em mais de um nível

### Modelos de taxi tomados por cada cliente (agrupando por Cliente e por Modelo)

## Contando Itens Distintos

### Quantos clientes distintos tomaram cada modelo de táxi

## Funções de agregação sem agrupamento

### Maior e menor ano de fabricação para todos os Táxis e a média de anos

Quando é usada função de agregação sem especificação de agrupamento, toda a tabela é agregada como se fosse um único grupo.

# HAVING

### Número de Táxis por Modelo somente para os Táxis com ano de fabricação abaixo de 2000

### Modelos de Táxi que têm mais de um Táxi do respectivo modelo

### Modelos de Táxi cujo menor Ano de Fabricação seja após 2000

# Bloco II - JOIN Explícito e VIEW

## JOIN explícito

### Clientes e respectivas corridas (para clientes que fizeram corrida)

### Taxis e respectivas corridas (para taxis que fizeram corrida)

## NATURAL JOIN

## LEFT JOIN

### Clientes e respectivas corridas (para todos os clientes)

### Taxis e respectivas corridas (para todos os taxis)

## RIGHT JOIN

### Corridas e respectivos clientes (para todos os clientes)

# VIEW

### Total de Táxis por Modelo

Agrupamento sem o uso de `VIEW`:

### Tabela de Total de Táxis por Modelo

Transformando o agrupamento na tabela `Contagem_Modelo` com o `VIEW`:

Usando a tabela criada com a `VIEW`: