# Symptom Disease
*Lab 17 May 2022*

In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
DROP TABLE IF EXISTS SD;

CREATE TABLE SD(
    source VARCHAR,
    target VARCHAR,
    weight FLOAT
) AS SELECT source,target,weight
FROM CSVREAD('ncomms5212-s5_network.csv');

In [3]:
SELECT * FROM SD LIMIT 5;

In [4]:
DROP TABLE IF EXISTS Mesh;

CREATE TABLE Mesh(
    term VARCHAR,
    tree VARCHAR,
    l1 VARCHAR(3),
    l2 VARCHAR(3),
    l3 VARCHAR(3),
    l4 VARCHAR(3),
    l5 VARCHAR(3),
    l6 VARCHAR(3),
    l7 VARCHAR(3),
    PRIMARY KEY (tree)
) AS SELECT term,tree,l1,l2,l3,l4,l5,l6,l7
FROM CSVREAD('mesh-code-tree.csv');

In [11]:
SELECT * FROM Mesh WHERE l1 LIKE 'C%' AND l2 IS NULL;